@charset "UTF-8";
@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disparition {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  80% {
    opacity: 80%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}
@keyframes mov {
  0% {
    opacity: 0%;
    transform: scale(1);
  }
  50% {
    opacity: 50%;
    transform: scale(1);
  }
  100% {
    opacity: 0%;
    transform: scale(1) rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenu {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

@media all and (min-width: 480px) and (max-width: 1280px) {
  aside {
    flex-direction: row;
    text-align: center;
  }
}
@font-face {
  font-family: "Raleway";
  src: url("../polices/Raleway-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Cooper";
  src: url("../polices/Cooper-Italic.ttf");
}
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Raleway";
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

.main-btn {
  width: 12em;
  height: 50px;
  border-radius: 25px;
  border: none;
  margin: 20px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 2px 2px 10px #D5CCC2;
}
.main-btn:hover {
  background-color: white;
  box-shadow: 3px 3px 20px #c1d0d0;
}

.linear-gradient {
  background: linear-gradient(#9356DC, #FF79DA);
}

.bouton_new {
  background-color: #99E2D0;
  color: #0a6f52;
  padding: 10px;
  font-style: none;
  font-size: 0.9em;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.blocplat__valid {
  /*coche a animer*/
  width: 70px;
  height: 100%;
  background-color: #99E2D0;
  transform: scale(0, 1);
  transform-origin: right 50%;
  transition: transform 1s ease-in-out;
  position: relative;
  overflow: hidden;
}
.blocplat__valid .fa-check-circle {
  background-color: #99E2D0;
  color: white;
  font-size: 1.5em;
  position: absolute;
  transform: rotate(-270deg);
  transition: transform 600ms ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocplat:hover .blocplat__valid {
  transform: scaleX(1);
}
.blocplat:hover .blocplat__valid .fa-check-circle {
  transform: rotate(0deg);
}
.blocplat:hover .blocplat__descrip__menu {
  width: 75%;
}
.blocplat:hover .blocplat__descrip__prix {
  transform: translateX(-80px);
}

/*animation apparition:voir dans mixins prop-big-block appliquée à entrées/plats/desserts*/
.loading {
  animation: disparition 5s linear both;
  display: inline-block;
  width: 100%;
  margin: auto;
}
.loading__barres {
  position: relative;
  margin: 100px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.loading__barres__element {
  position: absolute;
  top: 50%;
  left: 0%;
  margin: 20px;
  border: solid 2px #c9abee;
  background-color: #c9abee;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  opacity: 0%;
  animation: mov 3s ease infinite;
  transform-origin: -200% 50%;
}
.loading__barres__element--2 {
  animation-delay: 400ms;
}
.loading__barres__element--3 {
  animation-delay: 600ms;
}
.loading__barres__element--4 {
  animation-delay: 800ms;
}
.loading__barres__element--5 {
  animation-delay: 1000ms;
}
.loading__barres__element--6 {
  animation-delay: 1200ms;
}
.loading__barres__element--7 {
  animation-delay: 1400ms;
}
.loading__barres__element--8 {
  animation-delay: 1600ms;
}
.loading__barres__element--9 {
  animation-delay: 1800ms;
}
.loading__barres__element--10 {
  animation-delay: 2000ms;
}

.contenu_accueil {
  animation: apparition 2s linear 6s both;
  display: inline-block;
}

header {
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img.logo {
  height: 30px;
}
header .fas {
  font-size: 25px;
  position: absolute;
  top: 25px;
  left: 15px;
}

footer {
  background-color: #606060;
  padding-top: 40px;
}
@media all and (min-width: 480px) {
  footer {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
footer img {
  width: 10em;
  margin-left: 15px;
  margin-bottom: 15px;
  color: white;
}
footer .endlist {
  display: flex;
  flex-direction: column;
  color: white;
}
footer .endlist__prop {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .endlist__part {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .endlist i {
  margin-right: 8px;
}
footer .endlist a {
  color: inherit;
  margin: 15px;
}
@media all and (min-width: 480px) {
  footer .endlist {
    flex-direction: row;
    justify-content: flex-start;
  }
}

aside, .fonctionnement a, #bloc_restaurants {
  background-color: #F2F2F2;
}

.reservation h1 {
  margin-top: 30px;
}

aside {
  display: flex;
  flex-direction: column;
  text-align: center;
}
aside form {
  height: 40px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside form input {
  background-color: #e5e5e5;
  border: none;
  font-size: 1em;
  text-align: center;
  width: auto;
}
aside form input::placeholder {
  color: black;
}

h2 {
  margin: 15px;
}

.fonctionnement {
  margin-top: 50px;
  text-align: center;
}
.fonctionnement li {
  display: flex;
  counter-increment: li;
  margin-bottom: 30px;
}
@media all and (min-width: 480px) {
  .fonctionnement li {
    display: inline-block;
    width: 26%;
    margin: 20px;
  }
}
.fonctionnement li::before {
  content: counter(li);
  display: flex;
  justify-content: center;
  align-self: start;
  width: 30px;
  height: 30px;
  margin: auto;
  border: solid 2px #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  font-size: 1.5em;
  color: white;
  z-index: 1;
}
.fonctionnement a {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: -20px;
  border: green 2px solid;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #D5CCC2;
}
.fonctionnement a:hover {
  background-color: white;
  box-shadow: 3px 3px 20px #c1d0d0;
}
.fonctionnement a i {
  margin-right: 30px;
}

#bloc_restaurants {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
}
@media all and (min-width: 480px) {
  #bloc_restaurants {
    padding-top: 15px;
    margin-top: 10px;
  }
}

#restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 480px) {
  #restaurants {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.element-resto {
  height: 250px;
  background-color: #FBFCFC;
  margin: 15px;
  box-shadow: 2px 2px 10px #D5CCC2;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.element-resto:hover {
  background-color: white;
  box-shadow: 3px 3px 20px #c1d0d0;
}
@media all and (min-width: 480px) {
  .element-resto {
    width: 40%;
    overflow: hidden;
    height: auto;
  }
}
.element-resto img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.element-resto__contenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px 15px 15px;
  position: relative;
  display: flex;
}
.element-resto__contenu .empty {
  color: black;
  position: absolute;
  right: 15px;
  font-style: normal;
}
.element-resto__contenu .gradient {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  right: 15px;
  opacity: 0;
}
.element-resto__contenu i {
  font-size: 30px;
}
.element-resto__contenu .fa-heart:hover {
  /*comment aurait il fallu designer .gradient pour qu'il soit la seule cible animation?*/
  animation: apparition 1s both;
  /*apparition progressive à l'ouverture*/
}
.element-resto__contenu i {
  font-size: 1.5em;
  font-style: normal;
}

.photo_resto {
  height: 220px;
}
.photo_resto img {
  width: 100%;
  object-fit: cover;
  position: relative;
}
@media all and (min-width: 480px) {
  .photo_resto img {
    height: 1300px;
    margin: 0px;
    object-fit: cover;
  }
}

.contenu {
  position: absolute;
}
.contenu__restos {
  background-color: #F2F2F2;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  opacity: 1;
}
.contenu__restos h1 {
  font-family: "Cooper";
  font-size: 1.8em;
  letter-spacing: -1px;
}
.contenu__restos h2 {
  font-size: 1.2em;
}
@media all and (min-width: 480px) {
  .contenu__restos {
    margin-top: -150px;
    max-width: 40%;
    font-size: 0.8em;
    border: blue 2px solid;
    border-radius: 20px;
    margin-top: -150px;
  }
}
.contenu__restos__titre {
  width: 100%;
  padding: 20px;
  position: relative;
  display: flex;
}
.contenu__restos__titre .empty {
  color: black;
  position: absolute;
  right: 15px;
  font-style: normal;
}
.contenu__restos__titre .gradient {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  right: 15px;
  opacity: 0;
}
.contenu__restos__titre i {
  font-size: 30px;
}
.contenu__restos__titre .fa-heart:hover {
  /*comment aurait il fallu designer .gradient pour qu'il soit la seule cible animation?*/
  animation: apparition 1s both;
  /*apparition progressive à l'ouverture*/
}
.contenu__restos__titre i {
  font-size: 30px;
}

/*je vais prendre*/
.entrees, .plats, .desserts {
  height: 300px;
  margin-bottom: 40px;
  opacity: 0;
  animation: apparition 1s both;
  /*apparition progressive à l'ouverture*/
}
.entrees h2, .plats h2, .desserts h2 {
  text-transform: uppercase;
  font-weight: normal;
}

.plats {
  animation-delay: 1s;
}

.desserts {
  animation-delay: 2s;
}

.blocplat {
  background-color: #FBFCFC;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 15px;
  box-shadow: 2px 2px 10px #D5CCC2;
  border-radius: 15px;
  border: green solid 2px;
}
.blocplat:hover {
  background-color: white;
  box-shadow: 3px 3px 20px #c1d0d0;
}
@media all and (min-width: 480px) {
  .blocplat {
    height: 50px;
  }
}
@media all and (min-width: 480px) {
  .blocplat {
    height: 60px;
  }
}
.blocplat__descrip {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.blocplat__descrip h3 {
  font-weight: bold;
}
.blocplat__descrip__menu {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blocplat__descrip__menu h3, .blocplat__descrip__menu p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blocplat__descrip__prix {
  align-self: flex-end;
  font-weight: bold;
  transition: transform 600ms ease-in-out;
  transform-origin: -150px;
  position: absolute;
  right: -50px;
}

.separation-line {
  width: 3em;
  border-top: solid 3px #99E2D0;
  margin: 15px;
}

.second-btn {
  text-align: center;
  border-radius: 20px;
}

/*# sourceMappingURL=styles.css.map */
