@charset "UTF-8";
i {
  font-size: 30px;
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disparition {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  80% {
    opacity: 80%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}
@keyframes mov {
  0% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(-360deg);
  }
  50% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenu {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

@media all and (min-width: 480px) and (max-width: 1280px) {
  aside {
    flex-direction: row;
    text-align: center;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand-Regular.otf") format("truetype");
}
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto";
  font-style: normal;
  color: black;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

.main-btn {
  width: 12em;
  height: 50px;
  border-radius: 25px;
  border: none;
  margin: 20px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 5px 5px 30px #a4baba;
}
.main-btn:hover {
  box-shadow: 3px 3px 20px #6a8e8e;
  /*font-weight: bold;*/
}

.linear-gradient {
  background: linear-gradient(#9356DC, #FF79DA);
}
.linear-gradient:hover {
  background: linear-gradient(#8641d8, #ff60d3);
}

.bouton_new {
  background-color: #99E2D0;
  color: #0a6f52;
  padding: 10px;
  font-style: normal;
  font-size: 0.9em;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.blocplat__valid {
  /*coche a animer*/
  position: relative;
  right: -100px;
  width: 80px;
  height: 80px;
  background-color: #99E2D0;
  transition: transform 600ms ease-in-out;
  overflow: hidden;
}
.blocplat__valid .fa-check-circle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 1.5em;
  background-color: #99E2D0;
  color: white;
  font-size: 1.5em;
}

*:focus {
  outline: none;
}

.heart-growing {
  width: 25px;
}
.heart-growing__empty {
  color: black;
  display: block;
  position: absolute;
  right: 10px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 2s;
}
.heart-growing__gradient {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  right: 10px;
  opacity: 0;
  display: block;
}
.heart-growing:hover > .heart-growing__gradient {
  animation: apparition 2s both;
}
.heart-growing:hover > .heart-growing__empty {
  opacity: 0;
}

.blocplat:hover .blocplat__valid {
  transform: translateX(-100px);
}
.blocplat:hover .blocplat__valid .fa-check-circle {
  animation: rotation 600ms ease;
}
.blocplat:hover .blocplat__descrip {
  width: 80%;
}
.blocplat:hover .blocplat__descrip__menu {
  width: 100%;
}
.blocplat:hover .blocplat__descrip__menu h3 {
  overflow: hidden;
}
.blocplat:hover .blocplat__descrip__menu p {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blocplat:hover .blocplat__descrip__prix {
  transform: translateX(-80px);
}

.loading {
  position: absolute;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  margin-top: 300px;
}
.loading__barres {
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
}
.loading__barres__element {
  position: absolute;
  top: 50%;
  right: 50%;
  border: solid 2px #c9abee;
  background-color: #c9abee;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  opacity: 0;
  animation: mov 2500ms ease-in-out 2;
  transform-origin: 50% -400%;
}
.loading__barres__element--1 {
  animation-delay: 100ms;
}
.loading__barres__element--2 {
  animation-delay: 200ms;
}
.loading__barres__element--3 {
  animation-delay: 300ms;
}
.loading__barres__element--4 {
  animation-delay: 400ms;
}
.loading__barres__element--5 {
  animation-delay: 500ms;
}
.loading__barres__element--6 {
  animation-delay: 600ms;
}
.loading__barres__element--7 {
  animation-delay: 700ms;
}
.loading__barres__element--8 {
  animation-delay: 800ms;
}
.loading__barres__element--9 {
  animation-delay: 900ms;
}
.loading__barres__element--10 {
  animation-delay: 1000ms;
}

/*
.contenu_accueil {
    width:100%;
    margin:auto;
    animation: apparition 2s linear 6s both;
    position: absolute;
    top: 5em;
}*/
header {
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img.logo {
  height: 30px;
}
header .fas {
  font-size: 25px;
  position: absolute;
  top: 25px;
  left: 15px;
}

footer {
  background-color: #393939;
  padding-top: 40px;
  color: white;
}
@media all and (min-width: 480px) {
  footer {
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
  }
}
footer img {
  width: 8em;
  margin-left: 15px;
  margin-bottom: 15px;
  color: inherit;
}
footer .endlist {
  display: flex;
  flex-direction: column;
}
footer .endlist__prop {
  display: flex;
  flex-direction: row;
}
footer .endlist__part {
  display: flex;
  flex-direction: row;
}
footer .endlist i {
  margin-right: 10px;
}
footer .endlist a {
  color: inherit;
  margin: 0px 20px 15px 15px;
}
@media all and (min-width: 480px) {
  footer .endlist {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

aside, .fonctionnement a, #bloc_restaurants {
  background-color: #F2F2F2;
}

.reservation h1 {
  margin-top: 30px;
}

aside {
  display: flex;
  flex-direction: column;
  text-align: center;
}
aside form {
  height: 40px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside form input {
  background-color: #e5e5e5;
  border: none;
  font-size: 1em;
  text-align: center;
  width: auto;
}
aside form input::placeholder {
  color: black;
}

.contenu_accueil {
  width: 100%;
  margin: auto;
  animation: apparition 2s ease-in-out 6s both;
  top: 5em;
}
.contenu_accueil h2 {
  margin: 20px;
}

.fonctionnement {
  margin-top: 30px;
  text-align: center;
}
.fonctionnement li {
  display: flex;
  counter-increment: li;
  margin: 10px;
}
@media all and (min-width: 550px) {
  .fonctionnement li {
    display: inline-block;
    width: 15em;
  }
}
.fonctionnement li::before {
  content: counter(li);
  display: flex;
  justify-content: center;
  width: 1em;
  height: 1em;
  margin: auto;
  border: solid 2px #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  font-size: 1.5em;
  color: white;
  z-index: 1;
}
@media all and (min-width: 550px) {
  .fonctionnement li::before {
    position: relative;
    top: 0.5em;
  }
}
.fonctionnement li a {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-weight: bold;
  margin-left: -15px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #D5CCC2;
}
.fonctionnement li a:hover {
  background-color: white;
  box-shadow: 3px 3px 20px #c1d0d0;
}
.fonctionnement li a i {
  margin-right: 30px;
  margin-left: 0px;
}

#bloc_restaurants {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
}
@media all and (min-width: 550px) {
  #bloc_restaurants {
    padding-top: 15px;
    margin-top: 10px;
  }
}

#restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 550px) {
  #restaurants {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.element-resto {
  height: 270px;
  background-color: #FBFCFC;
  margin: 20px;
  box-shadow: 2px 2px 10px #D5CCC2;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.element-resto:hover {
  background-color: white;
  box-shadow: 3px 3px 20px #c1d0d0;
}
@media all and (min-width: 500px) {
  .element-resto {
    width: 40%;
    overflow: hidden;
    height: auto;
  }
}
.element-resto img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.element-resto__contenu {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.element-resto__contenu i {
  font-size: 1.5em;
  font-style: normal;
}
.element-resto__contenu h3 {
  margin-bottom: 5px;
}
.element-resto__contenu p {
  font-size: 1.1em;
}
.element-resto__contenu + .heart-growing {
  margin-right: 10px;
}

.photo_resto {
  height: 220px;
}
.photo_resto img {
  width: 100%;
  object-fit: cover;
  position: relative;
}
@media all and (min-width: 550px) {
  .photo_resto img {
    height: 1300px;
    margin: 0px;
    object-fit: cover;
  }
}

.contenu {
  position: absolute;
  /*je vais prendre*/
}
.contenu__restos {
  background-color: #F2F2F2;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  opacity: 1;
}
.contenu__restos h1 {
  font-family: "Shrikhand";
  font-size: 2em;
  font-weight: normal;
}
.contenu__restos h2 {
  font-size: 1.3em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 30px 0px 5px 20px;
}
@media all and (min-width: 480px) {
  .contenu__restos {
    margin-top: -150px;
    max-width: 45%;
    font-size: 0.9em;
    border-radius: 20px;
    margin-top: -150px;
  }
}
.contenu__restos__titre {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.contenu__restos__titre i {
  font-size: 25px;
  margin-right: 20px;
}
.contenu .entrees, .contenu .plats, .contenu .desserts {
  opacity: 0;
  animation: apparition 1s both;
  /*apparition progressive à l'ouverture*/
}

.plats {
  animation-delay: 1s;
}

.desserts {
  animation-delay: 2s;
}

.blocplat {
  background-color: #FBFCFC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 80px;
  margin: 20px;
  box-shadow: 2px 2px 10px #D5CCC2;
  border-radius: 15px;
}
.blocplat:hover {
  background-color: white;
  box-shadow: 3px 3px 20px #c1d0d0;
}
@media all and (min-width: 550px) {
  .blocplat {
    height: 70px;
  }
}
.blocplat__descrip {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.blocplat__descrip h3 {
  font-weight: bold;
  font-size: 1.2em;
}
.blocplat__descrip__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.blocplat__descrip__menu h3, .blocplat__descrip__menu p {
  overflow: hidden;
  line-height: 90%;
}
.blocplat__descrip__menu p {
  font-size: medium;
}
.blocplat__descrip__prix {
  font-weight: bold;
  transition: transform 600ms ease-in-out;
  position: absolute;
  display: inline-block;
  top: 60%;
  right: 10px;
}

.separation-line {
  width: 3em;
  border-top: solid 3px #99E2D0;
  margin-left: 20px;
}

.second-btn {
  text-align: center;
  border-radius: 20px;
  margin: 10px 0px 30px 0px;
}

/*# sourceMappingURL=styles.css.map */
