footer{
    background-color: #393939;
    padding-top:40px;
    color:white;
    @media all and (min-width: 480px){
        padding-top:30px;
        display:flex;
        justify-content: flex-start;
    }
    img{
        width:8em;
        margin-left:15px;
        margin-bottom:15px;
        color:inherit;
        }
    .endlist{
        display: flex;
        flex-direction: column;
        &__prop{
            display: flex;
            flex-direction: row;
            }
        &__part{
            display: flex;
            flex-direction: row;
        }
        i{
            margin-right:10px;
        }
        a {
            color:inherit;
            margin: 0px 20px 15px 15px;
        }
        @media all and (min-width: 480px){
            flex-direction: row;
        justify-content: space-around;
        width: 100%;
        }
    }
    
}
