.main-btn{
    width: 12em;
    height: 50px;
    border-radius: 25px;
    border:none;
    margin:20px;
    color:white;
    font-size:1em;
    cursor: pointer;
    box-shadow: 5px 5px 30px darken($btn-plats-color, 30%);
    &:hover{
         box-shadow: 3px 3px 20px darken($btn-plats-color, 50%);
         /*font-weight: bold;*/
    }
}
.linear-gradient{
    background: linear-gradient($color-primary, $color-secondary);
    &:hover{
        background: linear-gradient(darken($color-primary, 5%), darken($color-secondary, 5%));
    }
}
.bouton_new{
    background-color: $color-tertiary;
    color:#0a6f52;
    padding:10px;
    font-style: normal;
    font-size: 0.9em;
    border-radius:2px;
    position:absolute;
    top:10px;
    right:10px;
  }
.blocplat {
    &__valid{/*coche a animer*/
        position: relative;
        right:-100px;
        width:80px;
        height: 80px;
        background-color: $color-tertiary;
        transition: transform 600ms ease-in-out;
        overflow: hidden;
        .fa-check-circle{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-size: 1.5em;
            background-color: $color-tertiary;
            color:white;
            font-size: 1.5em;
            }
    }
}
*:focus {
      outline: none;
  }



