@font-face
  {
    font-family: 'Roboto';
    src: url('../polices/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face
{
  font-family: 'Shrikhand';
    src: url('../polices/Shrikhand-Regular.otf') format('truetype');

  }
a{
    text-decoration: none;
    color:black;
  }
body {
    font-family: 'Roboto';
    font-style:normal;
    color:black;
  }
h1 {
    font-weight: bold;
    font-size: 2em;
  }
  
