.photo_resto{
    height:220px;
    img{
        width:100%;
        object-fit: cover;
        position: relative;
        }
}
.contenu{
    @include prop_page;
    &__restos__titre{
      @include btn-heart-gradient;  
    }
}
/*je vais prendre*/
.entrees, .plats, .desserts {
    @include prop-big-block;
    opacity:0;
    @include anim-apparition;
}
.plats {
    animation-delay: 1s;
}
.desserts {
    animation-delay: 2s;
}
.blocplat{
    background-color:$btn-plats-color;
    @include prop-middle-block;
}
.separation-line{
    width: 3em;
    border-top: solid 3px $color-tertiary;
    
}
.second-btn{
    text-align: center;
}

