$apparition-duree: 1s;
@mixin anim-apparition {
    animation: apparition $apparition-duree both;/*apparition progressive à l'ouverture*/
}
@mixin prop-middle-block{
    height:70px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    overflow:hidden;
    @include border-stand;
    @include border-shadow;
    @include border-prop;
    border: green solid 2px;
    @media all and (min-width: 480px){
        height:50px;
    }
}
@mixin border-stand{
    margin:15px;
}
@mixin border-shadow {
    box-shadow: 2px 2px 10px #D5CCC2;
    &:hover{
        background-color: lighten($btn-plats-color, 10%);
        box-shadow: 3px 3px 20px darken($btn-plats-color, 20%);
    }
}
@mixin border-prop {
    border-radius: 15px;}
@mixin btn-heart-gradient {
    position: relative;
    display: flex;
    .empty{
        color:black;
        position: absolute;
        right: 15px;
        font-style:normal;
    }
    .gradient{
         background: -webkit-linear-gradient($color-primary, $color-secondary);
         color: transparent;
        -webkit-background-clip: text;
        position:absolute;
        right: 15px;
        opacity:0;  
    }
    i {
        font-size:30px;}
    .fa-heart{
         &:hover{/*comment aurait il fallu designer .gradient pour qu'il soit la seule cible animation?*/
            @include anim-apparition;
          } 
      }
}
